# Ignore the secrets file
.streamlit/secrets.toml

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE settings (PyCharm)
.idea/

# Ignore configuration files for tests, etc.
*.log
*.bak
*.swp

